{
  "singleQuote": true,
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
